/* grid styles ------------------------------------ */
@media (min-width: 600px) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  
    .info1 {
       grid-column: span 2;
       grid-row: span 2;
    }
    .info2 {
      grid-column: span 2;
    }
    .info3 {
        grid-column: span 2;
        grid-row: span 1;
      }
    .figure1 {
      grid-column: span 3;
      grid-row: span 2;
    }
    .figure6 {
      grid-column: span 2;
    }
    .figure7 {
      grid-column: span 3;
    }
    .figure8 {
        grid-column: span 2;
    }
    /* chat bot ------------------------------------ */
    .chat_on{
      width: 4rem;
      height: 4rem;
      bottom: 12rem;
      padding: 0.5rem;
      margin: 0 auto;
      margin-right: 3rem;
      text-align: center;
    }  
    .chat_on_icon{
      font-size: 1rem;
    } 
}
