:root {
    --color-primary: #D5C06B;
    --color-secondary: #FAFAFA;
    --color-background: #0c0c0c;
    --color-text-light: #D5C06B;
    --color-text-dark: #000;
    --color--White-pearly:#fffafa;
    --color--01:#fffafa;
    --color--02: #AE9A65;
    --color--03: #DFC554;
}