.container-delivery {
    display: flex;
    flex-direction: row;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.delivery {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
p, .delivery {
    margin: 0;
    padding: 0;
}

.block_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.link_delivery {
    border-radius: 50%; 
    margin: 0.5rem;
}
.text_delivery {
    text-transform: uppercase;
    font-family: 'Viaoda Libre';
    align-items: center;
    text-align: center;
    font-weight: 100; 
    margin-bottom: 1rem;
}
.line1_delivery {
    display: block;
    width: 160px;
    font-size: 160%;
    margin: 0 auto;
    text-align: center;
}
.line2_delivery {
    display: block;
    margin: 0 auto;
    color: var(--color--01); 
    font-size: 120%;
}



