.delivery {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
}

.block_link{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    margin-left: -1.5rem;  
}

