/*.depoimentos {
    display: flex;
    justify-content: center;
    align-items: center;
	height: 300px;
    width: 100%;
}
@charset 'UTF-8';
/* Slider */
.depoimentos {
    padding: 1rem;
    margin: 1rem;
}
.slider-dp {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 250px !important;
    align-items: center;
    background: black;
    box-shadow: 1px 1px 1px 1px rgba(241, 135, 6, 0.767);	
    box-shadow: inset 0 0 0.1em var(--color-primary), 0 0 0.5em var(--color--White-pearly);
    border-radius: 2rem;
    margin: 1rem;
}

.title_dp {
    align-items: center;
}
.text_dp {
    align-items: center;
}

