/*.depoimentos {
    display: flex;
    justify-content: center;
    align-items: center;
	height: 300px;
    width: 100%;
}
@charset 'UTF-8';
/* Slider */
.depoimentos {
    padding: 1rem;
    margin: 1rem;
}
.slider-dp {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    background: black;
    box-shadow: 1px 1px 1px 1px rgba(241, 135, 6, 0.767);	
    box-shadow: inset 0 0 0.1em var(--color-primary), 0 0 0.5em var(--color--01);
    width: 90%;
    height: 250px !important;
    border-radius: 2rem;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 90%;
}
.img_dp img {
    border-radius: 10rem;
    padding: 0.2rem;
}
.title_dp h3 {
    white-space : nowrap;
    margin: 0.2rem;
    align-items: center;
}
.text_dp {
    content: '';
    text-align: center;
    align-items: center;
}

