@import url(colors.css);

section#cardapios {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dish-menu-title {
    margin: 10px;
}

details.dish-menu-details {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    text-align: left;
    background-color: var(--color-background);
}

details[open]{
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    padding-bottom: 15px;
}

details summary.dish-menu-summary {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 10px;
    list-style: none;
    font-weight: bold;
}

details summary.dish-menu-summary::-webkit-details-marker { 
    display: none;
}

details[open] summary.dish-menu-summary {
	background-color: var(--color-background);
    color: var(--color-primary);
}

details[open] summary.dish-menu-summary i.fa-chevron-down{
    transform: rotate(-180deg);
    transition: 0.5s transform ease;
}

details summary.dish-menu-summary i.fa-chevron-down{
    transform: rotate(0deg);
    transition: 0.5s transform ease;
}

details div.dish-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    padding: 15px;
}

details div.dish-menu-content div.dmc-picture {
    display: flex;
    max-width: 540px;
    margin-top: 25px;
}

details div.dish-menu-content div.dmc-picture img {
    width: 100%;
    border-radius: 10px;
}


details div.dish-menu-content div.dmc-title {
    font-size: 1.6rem;
    color: var(--color-primary);
    margin-top: 8px;
    margin-bottom: 4px;
}

details div.dish-menu-content div.dmc-description {
    font-size: 1rem;
    color: var(--color-primary);
} 
