section#faq {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#faq-title {
    margin: 10px;
}

details.faq-details {
    width: 90vw;
    margin-bottom: 5px;
    background-color: var(--color-primary);
    color: var(--color-background);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: left;

}

summary.faq-summary {
    width: 100%;
    font-weight: bold;
    background-color: transparent;
    color: var(--color-background);
    padding: 10px;
}

summary.faq-summary::-webkit-details-marker {
	display: none;
}

div.faq-content {
    padding: 12px;

}
