footer {
  width: 100vw;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #D5C06B;
  background-color: #0c0c0c;
}

footer > div {
  margin: 15px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

.social {
  padding-left: 0px;
}

.social a {
  color: #D5C06B;
  text-decoration: none;
  display: block;
  width: 50px;
  height: 40px;
}

.social li {
list-style-type: none;
display: inline-block;
transition: ease .3s;
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}

.social i.fa {
  font-size: 2rem;
  padding: 5px;
}

.footer-form {
  font-size: 16px;
}

#footer-email {
  border-radius: 10px;
  padding: 8px;
}

#footer-signup {
  background-color: #D5C06B;
  color: #000;
  border-radius: 10px;
  padding: 8px;
}
