.location-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 1rem;
}
.title {
   text-align: center;
}
.text {
    text-align: center;
    padding: 1rem;
}
.embed {
    display: flex;
    justify-content: center;
}