.location-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 1rem;
}
.title {
   text-align: center;
}
.title-h1 {
    text-transform: uppercase;
    font-size: 120%;
}
.text {
    text-align: center;
    padding: 1rem;
}
.embed {
    display: flex;
    justify-content: center;
}