.row {
    max-width: 1140px; /*Define o tamanho m�ximo da linha*/
    margin: 0 auto 0 auto; /*Define que o container vai ficar centralizado*/
    /*margin: 0 auto; maneira alternativa para a linha de cima*/
}
.main-nav {
    float: left;
    display: none;
    list-style: none; /*Se livra dos bullets - bolinhas pretas - marcadores*/
    margin-top: 10px; /*colocar um espa�amento acima da lista para baixar ela*/
}
.main-nav li {
    display: block;
    margin-bottom: 10px;
    margin-left: 30px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 10px 0;
    font-size: 100%;
    color: #fffafa;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
    color: #D5C06B;
}

/* ----------------------------------------------- */
/* menu hamburguer */
/* ----------------------------------------------- */
#checkbox-menu{
    position: absolute;
    float: right;
    display: none;
    opacity: 30px;
  }
  
  label{
    cursor: pointer;
    float: right;
    position: relative;
    /*display: none;*/
    margin-top:20px;
    margin-right:20px;
    height: 30px;
    width: 30px;
  }
  
  label span{

    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background:  #D5C06B;
    transition: 0.25s ease-in-out;
  }
  
  label span:nth-child(1){
    top: 0;
  }
  
  label span:nth-child(2){
    top: 8px;
  }
  
  label span:nth-child(3){
    top: 16px;
  }
  
  #checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
  }
  
  #checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
  }
  
  #checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top:8px;
  }
