* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--color-background); /*Define a cor do fundo*/
    color: var(--color-text-light);
    font-family: 'Arial', sans-serif; 
    font-size: 16px;
    text-rendering: optimizeLegibility; 
}
hr {
    background: var(--color-primary);
}

