.history {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: var(--color_2);
    font: var(--font_2);
}
.card-text {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.title {
    font-weight: 100; 
    text-align: center;
    margin-top: 1rem; 
    border-bottom-style: groove;
    border-width: 2px;
    border-color: var(--color--03);
    color: var(--color--03) ;
  }
  .title-h3 {
    text-transform: uppercase; 
    text-align: center;
    font-size: 80%;
    margin-top: 0.5rem; 
  }
  .text {
    text-align: center;
    word-wrap: break-word;
    font-size: 100%;
    text-indent: 2rem;
    margin-top: 1rem;
  }
